# This file set the environment for code_aster.
# Configuration for {{distr}} {{variant}}
export WAFBUILD_ENV=$(readlink -n -f ${BASH_SOURCE})

# DEVTOOLS_COMPUTER_ID avoids waf to re-source the environment
export DEVTOOLS_COMPUTER_ID={{distr}}

export PREREQ_PATH={{root}}
export PREREQ_VERSION={{version}}

{%- if parallel %}

# force parallel build
export ENABLE_MPI={{parallel}}
{%- endif %}

# custom configuration
export CONFIG_PARAMETERS_addmem={{addmem}}

export LINKFLAGS="${LINKFLAGS} -Wl,--no-as-needed"

# prerequisites paths
{%- for prod in products %}
    {#- specific addons for some products #}
    {%- if prod.name == "MFRONT" %}
export TFELHOME="{{ prod.home }}"
export TFELVERS="{{ prod.version }}"
    {%- endif %}
    {%- if prod.name == "BOOST" %}
export LIB_BOOST="boost_python3"
    {%- endif %}

    {#- define libs, includes, python paths #}
    {%- if prod.libpath %}
export LIBPATH_{{ prod.name }}="{{ prod.libpath }}"
    {%- endif %}
    {%- if prod.includes %}
export INCLUDES_{{ prod.name }}="{{ prod.includes }}"
    {%- endif %}
    {%- if prod.pypath %}
export PYPATH_{{ prod.name }}="{{ prod.pypath }}"
    {%- endif %}

    {#- add in search paths #}
    {%- if prod.path %}
export PATH="{{ prod.path }}:${PATH}"
    {%- endif %}
    {%- if prod.libpath %}
export LD_LIBRARY_PATH="${LIBPATH_{{ prod.name }}}:${LD_LIBRARY_PATH}"
    {%- endif %}
    {%- if prod.pypath %}
export PYTHONPATH="${PYPATH_{{ prod.name }}}:${PYTHONPATH}"
    {%- endif %}
{% endfor %}
